#git ignore
bin*/
lib*/
gen*/
build*/
Debug*/
Release*/
ipch/
xcuserdata/
*.DS_Store
*.ipch
*.db
*.opendb
*.sdf
*.opensdf
*.ncb
*.suo
*.user
*.apk
*.ap_
*.dex
*.class
*.classpath
*.project
*.idea
*.gradle
local.properties
Thumbs.db